body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #0077be;
    color: orange;
}

header #finalHeader {
    background-color: rgb(24, 0, 161);
    color: orange;
    margin: 0;
    padding: 2px 0 2px 0;  
    font-size:large;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 3px solid black;
}

    /* ------------------- Grid && Flex Section ---------------------*/


#finalGrid {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-auto-rows: repeat 6 1fr;
    row-gap: 10px;
    justify-content: center;
}

#jeopardyLogoImg {
    width: 300px;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
    border-radius: 12px 12px;
    box-shadow: 7px 10px 22px rgb(29, 26, 26);
}

.finalCategory {
    display: flex;
    padding: 7px 3px;
    margin: 3px;
    width: 400px;
    height: 4vw;
    font-size: 3ch;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;
    overflow: hidden;
    background-color: rgb(24, 0, 161);
    border-radius: 12px 12px;    
    border: 3px solid black;
    box-shadow: 4px 6px 17px rgb(248, 246, 246);
}

/* ------------------- Final Input Section ---------------------*/

#finalHeading {
    color: white;
    font-size: 4ch;
}

#finalActual {
    color: orange;
    font-size: 4.5ch;
    letter-spacing: 5px;
    text-transform: uppercase;
}

form {
    margin: 20px auto;
}

#finalWager,#finalAnswer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.2ch;
    font-weight: 600;
    color: black;
    text-transform: uppercase;
}

input {
    text-align: center;
    padding: 0 3ch;
    margin-right: 1vw;
    font-size: 1ch;
    font-weight: 700;
    border-radius: 12px 12px;
    height: 3vw;
}

/* ------------------- Navigation Section ---------------------*/

nav {
    padding: 8px 0 10px 0;
}

a:link {
    text-decoration: none;
    color: black;
    font-size: 2ch;
    font-weight: 750;
    text-transform: uppercase;
}

a:visited {
    color: black
}

ul {
    list-style-type: none;
    margin: 20px auto;
    columns: 1;
    padding-inline-start: 0;
    
}

.navLi {
    display: inline;
    margin: 5px;
    padding: 10px 12px;
    border-radius: 7px 7px;
    background-color: orange;
    border-radius: 12px 12px;
    border: 0;
    box-shadow: 5px 8px 10px rgb(49, 45, 45);
}

.navLi:hover {
    background-color: white;
}

.navLi:active {
    background-color: #ffff00;
}

/* ------------------- Scoreboard Section ---------------------*/

#scoreSection {
    margin: 2.5vh auto;
}

.playerScore {
    display: inline;
    font-size: 1.7ch;
    color: black;
    font-weight: 700;
    background-color: rgb(138, 198, 221);
    border: 2px solid black;
    border-radius: 14px 14px;
    box-shadow: 4px 7px 11px rgb(49, 45, 45);
    padding: 1.4vw 2vw;
    margin: 7vw;
}

.playerScore:hover {
    background-color: white;
}

/* ------------------- Footer Section ---------------------*/

footer {
    background-color: rgb(24, 0, 161);
    color: orange;
    border-top: 3px solid black;
    padding: 10px;
    text-align: inherit;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

#footerText {
    display: inline;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;    
}

    /* ------------------- Footer > Link to Home Section ---------------------*/

#footerHome {
    display: inline;
    font-size: 0.7rem;
    font-weight: 100;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 10vw;
    letter-spacing: 2px;    
}

footer a:link {
    color: white;
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
}

footer a:visited {
    color: white;
    text-transform: none;
}

footer a:hover {
    color: orange;
    text-transform: none;
}